.banner{
    color: black;
    background-image: url(images/peter.png);
    text-align: center;
    text-shadow: 2px 2px 2px darkgrey;
}

body{
    background-color: blanchedalmond;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.family-guy{
    background-image: url(images/family-guy-room.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.content-wrapper{
    text-align: center;
}

nav ul{
    display:flex;
    margin: 0;
    padding: 0;
}

.navbar li{
    border: 1px solid goldenrod;
    background-color: gold;
    padding: 0.2em;
    display: block;
    color: black;
}

h1{
    color: black;
    text-align: center;
    text-shadow: 2px 2px 2px darkgrey;
}

.navbar a:visited{
    color: black;
}

.navbar a:link{
    text-decoration: none;
}

.navbar li:hover{
    opacity: 0.5;
}


.userquote{
    color:aqua;
    background-color: blueviolet;
}

image{
    border: 2px solid black;
}
