/*global*/
.header{
    background-color: black;
    position: relative;
}

.banner{
    background-image: url(images/happy-peter.jpg);
    background-size: contain;
    color: black;
    text-align: center;
    font-size:xx-large;
    text-shadow: 2px 2px 2px darkgrey;
    display: block;
    margin: 0;
    
}

html, body{
    height: 100%;
}

body{
    background-color: blanchedalmond;
    margin: 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}



h1{
    color: black;
    text-align: center;
    text-shadow: 2px 2px 2px darkgrey;
    margin-bottom: 50px;
}

image{
    border: 2px solid black;
}

.content-wrapper{
    margin: 0 auto;
    padding: 30;
    max-width: 900px;
}


/*navbar*/
nav ul{
    display:flex;
    margin: 0;
    padding: 0;
}

.navbar li{
    border: 1px solid goldenrod;
    background-color: gold;
    padding: 0.2em;
    display: block;
    color: black;
    position: sticky;
    top: 0;
}


.navbar a:visited{
    color: black;
}

.navbar a:link{
    text-decoration: none;
}

.navbar li:hover{
    opacity: 0.5;
}

/*grid*/
.grid-container{
    width: 100%;
    display: grid;
    grid-template-areas: "sidebar main";
    grid-template-columns: 200px auto;
}

.main{
    grid-area: main;
    height: 100vw;
}

/*aside*/
.sidebar{
    /*slightly lighter background color than the body one*/
    grid-area: sidebar;
    background-color: rgb(255, 247, 234);
    height: 100vw;
}

/*idk what this category is*/
.userquote{
    color:aqua;
    background-color: blueviolet;
}

/*family guy*/


.family-guy{
    background-image: url(images/family-guy-room.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}